.c-button {
  background: var(--button-bg, #6D214F);
  color: var(--button-color, #FFF);
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.02em;
  font-weight: 700;
  padding: var(--space-s) var(--space-l);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.c-button--blue {
  --button-bg: #182C61;
}
